@charset "utf-8";
/* CSS Document */

header{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009688+0,1d9f71+100 */
background: #009688; /* Old browsers */
background: -moz-linear-gradient(left, #009688 0%, #1d9f71 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #009688 0%,#1d9f71 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #009688 0%,#1d9f71 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#1d9f71',GradientType=1 ); /* IE6-9 */ min-height:196px;}

body{background:#fafafa; height:100vh;}
.midle-sec h3{ text-align:left; font-size:15px; font-weight:400; margin-bottom:19px; color:#fff;}
.midle-sec h3 img{ margin-right:13px;}
.midle-sec h3 span{ text-align:left; font-size:15px; font-weight:500;}
.midle-sec .card-box{margin-top:-7rem; }
.midle-sec .card-box .card{border:none; padding: 21px 50px 34px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);}
.midle-sec .card-box .card .card-body .card-title{ text-align:center; font-size:19px; color:#212121; font-weight:400; margin-bottom:41px;}
.midle-sec .card-box .card .card-body i{color:#757575;}
.midle-sec .card-box .card .card-body .form-group{margin-bottom:35px;}
.midle-sec .card-box .card .card-body .form-control {    display: block;    width: 100%;    padding:.5rem .10rem .5rem .10rem;    font-size:15px;    line-height: 1.25;    color: #495057;    background-color: #fff;    background-image: none;    background-clip: padding-box;    border-bottom: 1px solid rgba(0,0,0,.15);    border-radius: 0rem;    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    border-left: 0px;    border-right: 0px;    border-top: 0px;	font-weight:400;}
.midle-sec .card-box .card .card-body .form-text {    display: block;    margin-top: -19px;}
.btn-color-btn { cursor:pointer;    color: #fff;    background-color: #01579b;
    border-color: #01579b; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);}

/*// setep 2 css strat now //*/

.setp-b{ text-align:center;}
.setp-b .red-title{ color:#e91e63; font-size:14px; font-weight:400; border-bottom:1px solid #e0e1e0; padding-bottom:30px; margin-bottom:30px;}
.setp-b ul{list-style:none; color:#212121; font-size:15px; font-weight:400;}
.setp-b ul li{list-style:none; padding:5px 0;}
.setp-b ul li a{ color:#009688;}
.setp-b .time-pin{color:#9e9e9e;}


/*  // step 3 css strat now // */ 
.check-box label{	position: relative;	cursor: pointer;	color: #666; border-bottom:2px solid #transparent;	font-size:16px; border:1px solid #e0e0e0; padding:19px 12px; width:100%}
.check-box label:hover{ border-bottom:2px solid #009688;}
.check-box  .form-group {    margin-bottom: 15px !important;}
/*Radio box*/
.check-box input[type="radio"] + .label-text:before{	content: "\f10c";	font-family: "FontAwesome";
	speak: none;	font-style: normal;	font-weight: normal;	font-variant: normal;	text-transform: none;	line-height: 1;	-webkit-font-smoothing:antialiased;	width:2em;	display: inline-block;	margin-right: 5px;	background: #fff;    margin: -5px 0px 0px -17px;	font-size: 19px;}

.check-box input[type="radio"]:checked + .label-text:before{	content: "\f05d"; 	color: #009688;	animation: effect 250ms ease-in;	background: #fff;    margin: -5px 0px 0px -17px;}
.check-box input[type="radio"]:disabled + .label-text{	color: #aaa;}
.check-box input[type="radio"]:disabled + .label-text:before{	content: "\f111";	color: #3e3e3e;}
@keyframes effect{	0%{transform: scale(0);}	25%{transform: scale(1.3);}	75%{transform: scale(1.4);}	100%{transform: scale(1);}}

/*// step 5 css strat now //*/
.drop-file{}
.drop-file .btn-color-btn { cursor:pointer;    color: #fff;    background-color: #bdbdbd;
    border-color: #bdbdbd; box-shadow:none;}
.drop-file .btn-color-btn:hover { cursor:pointer;    color: #fff;    background-color: #bdbdbd;    border-color: #bdbdbd; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);}
.drop-file .files input {     outline-offset: -10px;    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;    transition: outline-offset .15s ease-in-out, background-color .15s linear;    padding: 120px 0px 85px 35% !important;    text-align: center !important;    margin: 0;    width: 100% !important;}
 .drop-file .files input:focus{  outline-offset: -10px;    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #e0e0e0; }
.drop-file .files{ position:relative;}
.drop-file .files:after {pointer-events: none; position: absolute;    top: 60px;    left: 0;    width:85px;    right: 0;    height:65px;    content: "";    background-image: url(../images/icon-upload.png);    display: block;    margin: 0 auto;    background-size: 100%;    background-repeat: no-repeat;}
.drop-file .files_upload:after {pointer-events: none; position: absolute;    top: 60px;    left: 0;    width:85px;    right: 0;    height:65px;    content: "";    background-image: url(../images/icon-upload-col.png);    display: block;    margin: 0 auto;    background-size: 100%;    background-repeat: no-repeat;}
.drop-file .color { background-color:#f5f5f5 !important; border:1px solid #e0e0e0;}
.drop-file .card .card-body .form-control{opacity: 0.0;   filter: alpha(opacity=0);
            -o-transform: translate(250px, -50px) scale(1);
            -moz-transform: translate(-300px, 0) scale(4);
            direction: ltr;}
.drop-file label{font-size:19px; font-weight:normal; margin:-76px 21px 0px 0%; color:#bdbdbd;    text-align: center;    z-index: 999;    position: absolute; width : 100%;}
.drop-file label span{display:block; font-size:11px;}
.drop-file .card-body {      padding:12px 0px;}

/*// step 6 section css start here //*/

.upload-file{}
.upload-file .btn-color-btn { cursor:pointer;    color: #fff;    background-color: #bdbdbd;    border-color: #bdbdbd; box-shadow:none;}
.upload-file .btn-color-btn:hover { cursor:pointer;    color: #fff;    background-color: #bdbdbd;
    border-color: #bdbdbd; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11); -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);}
.upload-file .color { background-color:#fff !important; border:1px solid #e0e0e0; padding:3rem 2rem; text-align:center;}
.upload-file .file-name{color:#e91e63; font-size:14px; font:normal;}
.upload-file .upload-pres{color:#bdbdbd; font-size:15px; font:normal;}
.upload-file span.line{ background:#e0e0e0; height:2px; width:100%; position:absolute;     position: absolute;    float: left;    left: 0;    top: 19px;}
.upload-file span.line{ background:#009688; height:2px; width:1%; position: relative; content:"";     display: block;}
.upload-file i{cursor:pointer;}
.upload-file .form-group{padding-bottom:0px !important;}

/*// step 7  css start here now //*/

.complet-file{}
.complet-file .card-title{ color:#009688 !important;}
.complet-file .btn-color-btn { cursor:pointer;    color: #fff;    background-color: #bdbdbd;    border-color: #bdbdbd; box-shadow:none;}
.complet-file .btn-color-btn:hover { cursor:pointer;    color: #fff;    background-color: #bdbdbd;    border-color: #bdbdbd; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11); -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11); box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);}
.complet-file .color { background-color:#f5f5f5 !important; border:1px solid #e0e0e0; padding:1rem 2rem; text-align:center;}
.complet-file .file-name{color:#e91e63; font-size:14px; font:normal;}
.complet-file .upload-pres{color:#bdbdbd; font-size:15px; font:normal;}
.complet-file  .file-done{ text-align:left; padding-top:12px;}
.complet-file i{cursor:pointer; padding-top:9px;}
.complet-file .form-group{padding-bottom:0px !important;}
.complet-file .form-group .row{padding-bottom: 1rem;} 

/*// step 8 css start here now //*/

.bg-full{ background:#f5f5f5;}
.admin{}
.admin .row{ padding:0px 0px;}
.admin .row .col-md-3{ padding:0px 0px;}
.admin .row .col-md-9{ padding:0px;}
.nav-left{background:#fff; border-right:2px solid #eaeaea; height:100%;}

.nav-left ul{ list-style:none; padding:0px 0 0 3px; margin:0px;}
.nav-left ul li {}
.nav-left ul li .logo{ border-bottom:1px solid #e0e0e0; padding:14px 0px 14px 15px;}
.nav-left ul li .logo a{ color:#009688; font-size:16px; font-weight:normal; vertical-align:baseline; text-decoration:none;}
.nav-left ul li .logo a img{ margin-right:15px;}
.nav-left ul li .logo a span{ vertical-align: sub;}

.nav-left ul li .profil{ border-bottom:1px solid #e0e0e0; padding:14px 0px 14px 15px; cursor:pointer;}
.nav-left ul li .profil  i{ color:#009688; margin-right:23px; float:left; }
.nav-left ul li .profil h4{ color:#3e3e3e; font-size:16px; font-weight:400; }
.nav-left ul li .profil h4 lable{ display:block; color:#ababab;}
.nav-left ul li .profil h4 .badge-secondary { color: #fff; background-color: #607d8b;    margin-top: -43px;    float: right;    margin-right: 8px;    font-size: 9px;}
.nav-left ul li .profil h4 .teller { color: #fff;    background-color: #EE496D;    margin-top: -43px;    float: right;    margin-right: 8px;    font-size: 9px;}
.nav-left ul li .nav-sec  { color:#757575; text-decoration:none; padding:14px 0px 14px 15px;  border-left:2px solid #fff;}
.nav-left ul li .nav-sec:hover{ color:#757575; background:#f5f5f5; border-left:2px solid #009688;}
.nav-left ul li .nav-sec.active{ color:#757575; background:#f5f5f5; border-left:2px solid #009688;}
.nav-left ul li .nav-sec.active i{ color:#009688; }
.nav-left ul li .nav-sec:hover i{ color:#009688;}
.nav-left ul li .nav-sec a i{margin-right:20px; }
.nav-left ul li .nav-sec a{ color:#757575; text-decoration:none; vertical-align: top;}


/*main-admin section css start now*/ 
.main-admin{}
 .main-admin .head{  padding:21px 25px; background: #009688; /* Old browsers */
background: -moz-linear-gradient(left, #009688 0%, #1d9f71 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #009688 0%,#1d9f71 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #009688 0%,#1d9f71 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#1d9f71',GradientType=1 ); /* IE6-9 */ min-height:63px;
box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 1px 0px, rgba(0, 0, 0, 0.11) 0px 1px 1px 0px, rgba(0, 0, 0, 0.11) 0px 2px 1px -1px;}
.main-admin .head h4.title-pop{ font-weight:600; font-size:18px; text-transform:uppercase; text-align:left; color:#fff; padding:0px; margin:0px;}
.main-admin .head  h4 .ser{float:right;}
.main-admin .filer-tool { background:#fafafa; min-height:48px;
box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 1px 0px, rgba(0, 0, 0, 0.11) 0px 1px 1px 0px, rgba(0, 0, 0, 0.11) 0px 2px 1px -1px;}
.main-admin .filer-tool .btn-filt{ float:left;}
.main-admin .filer-tool .btn-filt li{padding:12px 21px;}
.main-admin .filer-tool .btn-filt li a i{vertical-align: bottom;}
.main-admin .filer-tool .btn-filt li.dang{ background:#ee496d;}
.main-admin .filer-tool .btn-filt li.dang a{ color:#fff; text-decoration:none; font-weight:500;}
.main-admin .filer-tool .btn-filt li a{ color:#9e9e9e; text-decoration:none; font-weight:500;}
.main-admin .filer-tool .btn-filt li a i{ margin-right:6px;}
.main-admin .filer-tool .upload-tile-filt{ float:right; margin-right:25px;}
.main-admin .filer-tool .upload-tile-filt li{padding:14px 0px;}
.main-admin .filer-tool .upload-tile-filt li.bold a{ color:#009688; text-transform:uppercase; font-weight:700;}
.main-admin .filer-tool .upload-tile-filt li a{color:#868686; font-size:13px; font-weight: normal; text-decoration:none; padding:14px 0px;}


.main-admin  .list-data{ padding:0px 18px;  background:#f5f5f5;}
.main-admin .table .table {  background:#f5f5f5;  border:1px solid #d7d7d7; border-bottom:none;font-size:13px; font-weight:500;}
.main-admin .table thead th{color:#757575; font-weight:normal;}
.main-admin .table-hover tbody tr{ color:#212121; font-weight: normal;}
.table td, .table th {      border-top: 1px solid transparent !important; font-weight: 500;}

.main-admin  .list-data .form-control {    display: block;    width: 100%;    padding:.5rem .10rem .5rem .10rem;    font-size:13px; font-weight:500 !important;   line-height: 1.25;    color: #212121;    background-color: transparent;        background-clip: padding-box;    border-bottom: 1px solid rgba(0,0,0,.15);    border-radius: 0rem;    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    border-left: 0px;    border-right: 0px;    border-top: 0px;     margin-top: -12px;}
.midle-sec .card-box .card .card-body .form-text {    display: block;    margin-top: -19px;}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.main-admin .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.main-admin .material-switch > label::before {
    background: rgb(239, 83, 80);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height:12px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.main-admin .material-switch > label::after {
	
	content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    text-align: center;
    line-height: unset;
 
    background: rgb(239, 83, 80);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    
    height:20px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width:20px;
}
.main-admin .material-switch > input[type="checkbox"]:checked + label::before {
    background: #1d9f71;
    opacity: 0.5;
}
.main-admin .material-switch > input[type="checkbox"]:checked + label::after { content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    text-align: center;
    line-height: unset;

    background: #1d9f71;
    left: 20px;
} 
.file-open{ background:#fff; border-right:1px solid #e0e0e0;width:286px;}
.file-open ul{ padding:25px 0px 0px 0px; list-style:none;     height: 100%;}
.file-open ul li{padding:14px 0px 14px 18px;}
.file-open ul li.title-non{}
.file-open ul li.title-non:hover{ background:#fff;}
.file-open ul li.title-non h4{font-size:12px; font-weight:normal; position: relative;}
.file-open ul li h4 span{ content:""; display:block; height:1px; background:#e0e0e0; position:absolute; top:26px; right:0; width: 88%;}
.file-open ul li:hover{ background:#f5f5f5;}
.file-open ul li a{ color:#3e3e3e; font-size:14px; font-weight: normal;}
.file-open ul li label{ margin-bottom:0px !important;}
.file-open ul li a .form-group {    margin-bottom: 15px !important;}
.file-open ul li a strong{float:right; margin-right:11px; font-weight:normal; color:#9e9e9e;}
.file-open ul li a strong i{ font-size:13px; vertical-align:middle;}
.file-open ul li a strong.color-1{ color:#e91e63; font-weight:500;}
.file-open ul li a strong.color-2{color:#009688; font-weight:500;}
.file-open ul li.filter-hr{    border-bottom: 1px solid #e0e0e0;}
/*Radio box*/
.file-open ul li a input[type="radio"] + .label-text:before{	content: "\f10c";	font-family: "FontAwesome";
	speak: none;	font-style: normal;	font-weight: normal;	font-variant: normal;	text-transform: none;	line-height: 1;	-webkit-font-smoothing:antialiased;	width:1em;	display: inline-block; border-radius:50%;	margin-right: 5px;	background: #fff;    margin: -5px 13px 0px -17px;	font-size: 19px;}

.file-open ul li a input[type="radio"]:checked + .label-text:before{	content:"\f192"; 	color: #009688;	animation: effect 250ms ease-in;	background: #fff;    margin: -5px 13px 0px -17px;}
.file-open ul li a  input[type="radio"]:disabled + .label-text{	color: #aaa;}
.file-open ul li a input[type="radio"]:disabled + .label-text:before{	content: "\f111";	color: #3e3e3e;}
@keyframes effect{	0%{transform: scale(0);}	25%{transform: scale(1.3);}	75%{transform: scale(1.4);}	100%{transform: scale(1);}}

.print-dit{ margin:21px 0px 0px 0px; }
.print-dit ul{ float:left; width:45%; margin-left:2%;}
.print-dit ul h3{ font-size:19px; font-weight:600; color:#9e9e9e; position: relative;     margin-bottom: 36px;}
.print-dit ul h3 span{content:""; display:block; height:1px; background:#d7d7d7; position:absolute; top:26px; left:0; width: 100%;}
.print-dit ul li{ padding:0px 68px 0px 0px;}
.print-dit ul li p{font-size:12px; font-weight:600; color:#757575;}
.print-dit ul li p strong{ display:block; font-size:25px; color:#212121;}

.reslut{margin-top: 23px;    width: 95%;    margin-left: 18px;}
.reslut .card{ border-radius:0px;  }
.reslut .card:hover{ border-radius:0px; -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3); cursor:pointer;}
.reslut .card .media i.alig-icon{margin-top:5px;}
.reslut .card .media .media-body h5{ color:#212121; font-size:15px; font-weight:bold; margin-bottom: 0px;}
.reslut .card .media .media-body p{ color:#009688; font-size:12px; font-weight:bold;     margin-bottom: 0px;}
.reslut .card .media .media-body p i{ font-size:12px; vertical-align: middle;}
.reslut .card .media .media-body span{ float:right; font-size:9px; margin-top: -36px; background:#795548; color:#fff;  padding: 1px 7px;    border-radius: 5px;}


.card-full{margin-top: 23px;    width: 95%;    margin-left: 18px;}
.card-full .card{ border-radius:0px;     min-height: 337px; margin-bottom:21px;}
.card-full .card:hover{ border-radius:0px; -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3); cursor:pointer;}
.card-full .card .media i.alig-icon{margin-top:5px;}
.card-full .card .media .media-body h5{ color:#212121; font-size:15px; font-weight:bold; margin-bottom: 0px;}
.card-full .card .media .media-body p{ color:#e91e63; font-size:12px; font-weight:bold;     margin-bottom: 0px;}
.card-full .card .media .media-body p.color {    color: #009688;    font-size: 12px;    font-weight: bold;    margin-bottom: 0px;}
.card-full .card .media .media-body p i{ font-size:12px; vertical-align: middle;}
.card-full .card .media .media-body span{ float:right; font-size:9px; margin-top: -36px; background:#795548; color:#fff;  padding: 1px 7px;    border-radius: 5px;}
.card-full .card .card-body-a{padding:1.25rem 1.25rem 0 1.25rem; background:#fafafa; border-top:1px solid #dcdcdc;}
.card-full .card .card-body-a ul{list-style:none; padding:0px;}
.card-full .card .card-body-a ul li{  padding:12px 0px; color:#212121; font-size:15px;}
.card-full .card .card-body-a ul li i{vertical-align: bottom; margin-right: 14px; color:#757575;}
.card-full .card span.both-border{ font-size:14px; color:#212121; border-bottom:1px solid #dcdcdc !important; border-top:1px solid #dcdcdc !important; padding:12px 1.25rem 12px 1.25rem; background:#fafafa;}
.card-full .card span.both-border strong{ display:block; color:#757575;}
h4.footer{ color:#f44336; padding:16px 1.25rem 12px; font-size:14px; background:#fafafa; margin-bottom:0px;}
h4.footer label{ color:#009688;   font-weight:600; font-weight:600; font-size:14px; float:right; cursor:pointer;}
h4.footer label i{ color:#009688; vertical-align:middle;    }
.card-full .card span.both-border i{vertical-align: middle;}
.card-full .card span.both-border a{color:#212121; font-weight:normal; font-size:14px; margin-left:5px;}
.card-full .btn-color{ background:#ee496d; color:#fff; font-weight:600; border-radius:0px; font-size:14px; cursor:pointer; padding-top:18px; padding-bottom:18px;}
.card-full .btn-color:hover{-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);}
.modal-content  .form-group{margin-bottom:35px;}
.modal-content   .form-control {    display: block;    width: 100%;    padding:.5rem .10rem .5rem .10rem;    font-size:15px;    line-height: 1.25;    color: #495057;    background-color: #fff;    background-image: none;    background-clip: padding-box;    border-bottom: 1px solid rgba(0,0,0,.15);    border-radius: 0rem;    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    border-left: 0px;    border-right: 0px;    border-top: 0px;	font-weight:400;}
.modal-content  .form-text {    display: block;    margin-top: -19px;}
.small-popup .modal-content a.btn-color-btn { cursor:pointer;    color: #fff;    background-color: #01579b;
    border-color: #01579b; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11); font-size:13px; font-weight:600;}
.border-none{border-bottom: none !important; padding: 11px 36px;}
.small-popup .border-none h5{ font-size:18px; font-weight:600;}
.modal-content form{ padding:12px 21px 12px 21px;}
.small-popup .modal-footer>:not(:last-child) {     margin-right:0rem;  }
.small-popup .modal-footer a.dismis{font-size:13px; font-weight:600; cursor:pointer; margin-right:15px; color:#01579b;}


/*// multipal card designe show css start now //*/
.mult-card{margin-top: 23px;    width: 95%;    margin-left: 18px;}
.mult-card .card{ border-radius:0px; border:none; margin-bottom:21px; -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);}
.mult-card .card:hover{-webkit-box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.3);-moz-box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.3);box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.3);}
.mult-card .card .card-header{ background:#fff; margin:0px 12px;}
.mult-card .card ul{list-style: none;float:left; margin: 0px 25px 0px 0px; padding: 0px; font-size: 12px; font-weight:500; color:#757575;}
.mult-card .card ul li{ padding:4px 0px; cursor:pointer;}

.head-widt{ padding:0px !important; width:100%}
.modal-content .modal-header .form-group {    margin-bottom:7px;}
.modal-content .modal-header .img-text img{margin-top:3px;}
.modal-content .modal-header .img-text{ color:#212121; font-size:14px; font-weight:500;}
.modal-content .modal-header .img-text span{ color:#757575; font-size:14px; font-weight:400;}
.modal-content ul.add-input{ list-style:none; }
.modal-content ul.add-input li{ padding:0px 0px;}
.modal-content ul.add-input li .form-group { margin-bottom:11px;}
.modal-content ul.add-input li .form-group i{position: absolute;    right: 19px;    top: 8px;}
 .modal-content a.btn-color-btn-n { cursor:pointer;    color: #fff;    background-color: #01579b;
    border-color: #01579b; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11); font-size:13px; font-weight:600;}
 .modal-footer a.dismis{font-size:13px; font-weight:600; cursor:pointer; margin-right:15px; color:#01579b;}
.right-section{padding-right:0px;}
.left-section{padding-left:0px;    border-left: 1px solid #e0e0e0;}
.left-section ul{ list-style:none; padding:0px; margin:0px;}
.left-section ul li{ padding:10px 0px 10px 2px; border-bottom:1px solid #e0e0e0;  margin: 8px 5px 7px 6px;}
.left-section ul li:hover{ padding:10px 0px 10px 2px;color: #fff;     border-bottom: 1px solid #ffffff; background: #ee496d;    border-radius: 6px;    margin: 8px 5px 7px 6px;}
.left-section ul li a{ color:#212121; font-size:13px; font-weight:600; text-decoration:none;  padding:10px 29px 10px 10px;}
.left-section ul li a i{vertical-align: middle;    float: right;    color: #fff;     margin-right: 6px;}
.left-section ul li a:hover{ color:#fff; background:#ee496d;  border-radius:6px;  padding:10px 29px 10px 10px;}
.left-section .card{text-align:center; border:none; background:#f5f5f5; border-radius:0px;     padding-top:87px;}
.left-section .card .card-title{ color:#707070; font-weight:400; font-size:13px;     padding: 20px 0px;}
.left-section .card .sumbit-away{background: #009688;    color: #fff;    font-weight: 500;    padding: 8px 30px;    border-radius: 4px;}
.left-section .card .sumbit-away:hover{-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);-moz-box-shadow:2px 2px 5px 0pxrgba(0,0,0,0.3);box-shadow:2px 2px 5px 0px rgba(0,0,0,0.3); text-decoration:none;}
.left-section .card p{padding-top:89px;  font-size: 13px;  font-weight: 500; color: #989898;}
.left-section .card p i{ vertical-align:middle;}
.filer-tooltip{background: #fafafa none repeat scroll 0 0;}
.bg-lig-band{ background: #fbe9e7 none repeat scroll 0 0; color: #f44336!important;cursor: pointer;padding: 10px 13px;}
.err_css{
	font-size:12px;
	color:red;
	display:none;
}
#count{color : 199E74;}
#otp_exp{margin-left:60%;}
#success-otp{color:#1A9E74;float:left;display:none;}
#error-otp{color:#E91E86;float:left;display:none;}

#otp_confirm{ width:93%;float:left; }
.pagination li {
	padding:5px;
	font-size:20px;
	font-weight:600;
}
.pagination li a{
	color:#fff;
	padding:2px 8px 2px 8px;
	background-color:#009688;
	text-decoration:none;
}
#doc_file{transform:none;}
.upload-file{display:none;}
.complet-file{display:none;}
.cardBodyCss{ flex: 0;}
.signcpy{color : green;font-size:12px;font-family:robo;font-weight:600;display:none;}
.removeTeller{width : 12%;padding:0 !important;margin:25px;}
.dang{cursor:pointer;}
#updPeoSec{
	margin-left:150px;
	color:green;
	font-family:robo;
	font-size:16px;
	font-weight:600;
	display:none;
}