@charset "utf-8";
/* CSS Document */

header{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009688+0,1d9f71+100 */
background: #009688; /* Old browsers */
background: -moz-linear-gradient(left, #009688 0%, #1d9f71 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #009688 0%,#1d9f71 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #009688 0%,#1d9f71 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#1d9f71',GradientType=1 ); /* IE6-9 */ min-height:196px;}

body{background:#fafafa; height:100vh;}
.midle-sec h3{ text-align:left; font-size:15px; font-weight:400; margin-bottom:19px; color:#fff;}
.midle-sec h3 img{ margin-right:13px;}
.midle-sec h3 span{ text-align:left; font-size:15px; font-weight:500;}
.midle-sec .card-box{margin-top:-7rem; }
.midle-sec .card-box .card{border:none; padding: 21px 50px 34px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);}
.midle-sec .card-box .card .card-body .card-title{ text-align:center; font-size:19px; color:#212121; font-weight:400; margin-bottom:41px;}
.midle-sec .card-box .card .card-body i{color:#757575;}
.midle-sec .card-box .card .card-body .form-group{margin-bottom:35px;}
.midle-sec .card-box .card .card-body .form-control {    display: block;
    width: 100%;
    padding:.5rem .10rem .5rem .10rem;
    font-size:15px;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
	font-weight:400;
}
.midle-sec .card-box .card .card-body .form-text {    display: block;    margin-top: -19px;}
.btn-color-btn { cursor:pointer;
    color: #fff;
    background-color: #01579b;
    border-color: #01579b; border-bottom:4px; -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.11);
}
